@tailwind preflight;
@tailwind utilities;
@import "fonts";

/* https://color.adobe.com/Blue-Tones-color-theme-12387830 */
.bg-primary {
    background: #233656;
}

.text-light {
    color: #F0F0DF;
}

.bg-light {
    background: #F0F0DF;
}

.border-primary {
    border: 1px solid #233656;
}

.border-light {
    background: 1px solid #F0F0DF;
}

.text-primary-color {
    color: #233656;
}

.text-accent {
    color: #FFBE45;
}

.bg-accent {
    background: #FFBE45;
}

.bg-accent-lighter {
    background: #FFCB6B;
}

.bg-grey-subtle {
    background: #DAE3E8;
}

.text-nav {
    color: #233656;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-light;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 768px) {
    .card {
        min-width: 400px;
    }
}

@media (min-width: 992px) {
    .card {
        min-width: 450px;
    }
}

.nav-list {
    @apply flex list-reset;
}

.nav-list__block-link {
    @apply block p-5 pt-6 text-light no-underline text-sm;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .nav-list__block-link {
        @apply pl-2 pr-2;
        height: 60px;
        font-size: 10pt;
    }
}

.nav-list__block-link--active {
    @apply bg-light text-nav;
}

.nav-list__block-link:hover {
    @apply nav-list__block-link--active;
}

.nav-list__social-link {
    @apply block p-2 text-light no-underline text-lg;
    &:hover {
        @apply text-white;
    }
}

.search {
    @apply p-3 mt-3 mb-5 rounded-lg border border-black outline-none;

    &:focus {
        @apply border-primary;
    }
}

.list-item {
    @apply no-underline text-black flex p-3 mb-1 border border-light flex-wrap bg-white;

    &:hover {
        @apply bg-grey-subtle;
    }
}

.list-item--inline {
    @apply inline-block mr-1;
}

.list-item--no-hover {
    &:hover {
        @apply bg-white;
    }
}

.list-item__title {
    @apply flex-grow;
}

.list-item__details {
    @apply flex-no-grow;
}

.list-item__body {
    width: 100%;
    flex-basis: 100%;
}

.search-button {
    @apply text-center mx-auto block mb-3 text-primary-color bg-accent rounded flex items-center;
    padding: .7rem 1rem;
    min-width: 33%;

    &:hover {
        @apply bg-accent-lighter;
    }
}
