@tailwind preflight;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.segment.tab {
    @apply p-10 shadow-md rounded-lg bg-white;
    background: #F8F8F8;
    background: -webkit-linear-gradient(top, #F8F8F8, #EEEEEE);
    background: -moz-linear-gradient(top, #F8F8F8, #EEEEEE);
    background: linear-gradient(to bottom, #F8F8F8, #EEEEEE);
}

.ui.menu {
    @apply mb-5 flex;
    .item {
        @apply p-3 cursor-pointer border-b-2 flex-grow text-center;
        &:hover {
            @apply border-grey;
        }
        &.active {
            @apply border-black;
        }
    }
}

@media (min-width: 768px) {
    .card {
        min-width: 400px;
    }
}

@media (min-width: 992px) {
    .card {
        min-width: 450px;
    }
}

.search {
    @apply p-3 mt-3 mb-5 rounded-lg border border-black outline-none;

    &:focus {
        @apply border-blue-dark;
    }
}

.search-result-link {
    @apply no-underline text-black flex p-3 mb-1 border border-grey-darker;

    &:hover {
        @apply bg-grey-light;
    }
}

.search-result-link__title {
    @apply flex-grow;
}

.search-result-link__details {
    @apply flex-no-grow;
}
